/*fonts*/
@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');
@font-face {
  font-family: ibm-bold;
  src: url(/fonts/IBM_Plex_Mono/IBMPlexMono-Bold.ttf);
}
@font-face {
  font-family: ibm-regular;
  src: url(/fonts/IBM_Plex_Mono/IBMPlexMono-Regular.ttf);
}
@font-face {
  font-family: ibm-light;
  src: url(/fonts/IBM_Plex_Mono/IBMPlexMono-Light.ttf);
}