html {
  overflow: hidden;
  margin: 0px;
}
.vertical-align {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.left {
  float: left;
  max-width: calc(50vw - 50px);
  height: inherit;
  margin-left: 50px;
}
.right {
  float: right;
  max-width: calc(50vw - 50px);
  height: inherit;
  margin-right: 50px;
}
@media only screen and (max-width: 850px) {
  .right {
    display: none;
  }
  .left {
    width: calc(100vw - 30px);
    max-width: 100vw;
    padding: 0px 15px;
    margin-left: 0px;
    text-align: center;
  }
}
@media only screen and (max-width: 555px) {
  .name {
    font-size: 50px;
  }
  .job-title {
    font-size: 20px;
  }
  .icons {
    color: #fff;
    padding: calc(7.5vh - 20px);
    font-size: 15px;
    text-align: center;
    transition: 0.2s;
  }
  html {
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0px;
  }
}
