/*Global*/
html {
  overflow: hidden;
  margin: 0px;
}
.vertical-align {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.left {
  float: left;
  max-width: calc(50vw - 50px);
  height: inherit;
  margin-left: 50px;
}
.center {
  position: fixed;
    width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
