@import url('https://fonts.googleapis.com/css?family=Roboto:400,900&display=swap');
html {
  overflow: hidden;
  margin: 0px;
}
.vertical-align {
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.left {
  float: left;
  max-width: calc(50vw - 50px);
  height: inherit;
  margin-left: 50px;
}
.right {
  float: right;
  max-width: calc(50vw - 50px);
  height: inherit;
  margin-right: 50px;
}
