@import url('https://fonts.googleapis.com/css?family=Abel');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
body, html {
  max-height: 100vh;
  margin: 0;
  background-color: #000;
}
.background {
  animation-delay: 0.5s;
  background-image: url('../assets/background-image.jpg');
  background-color: #000;
  max-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);
}
.content {
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  font-weight: 900;
  text-decoration: none;
}
h1 {
  margin: 10px 0px;
  text-align: left;
}
a {
  color: inherit;
  text-decoration: none;
  transition: 0.2s;
}
a:hover {
  color: #000;
}
hr {
  margin: auto;
  width: 40%;
}
input, select {
  text-align: left;
  color: white;
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  font-size: 30px;
  text-decoration: none;
  background: none;
  height: inherit;
  border: none;
  outline: none;
  padding: 10px 0px 0px 0px;
}
::placeholder {
 color: #fff;
 text-transform: capitalize;
}

@media screen and (max-width: 1140px){
  .content {
    font-size: 20px;
  }
  input, select {
    font-size: 25px;
  }
}

@media screen and (max-width: 920px){
  .content {
    font-size: 15px;
  }
  input, select {
    font-size: 20px;
  }
}

@media screen and (max-width: 700px){
  input, select {
    display: block;
    font-size: 15px;
  }
}
